@media print {
    body {
      margin: 0;
      padding: 0;
      font-size: 12px;
    }
  
    * {
      box-shadow: none !important;
    }
  
    .MuiBox-root {
      width: 100%;
      max-width: 58mm; /* Asegúrate de usar el ancho del papel */
      margin: 0;
      padding: 0;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  .custom-pattern-lock circle {
    fill: #5d87ff !important; /* Cambia el color de los círculos */
  }
  
  .custom-pattern-lock .connector {
    stroke: #5d87ff !important; /* Cambia el color de las líneas */
    stroke-width: 4px !important; /* Ajusta el grosor de las líneas */
  }
  
  .custom-pattern-lock .circle.active {
    fill: #5d87ff !important; /* Cambia el color de los círculos activos */
  }
  